table th {
  border: 1px solid black;
  padding: 4px;
  font-size: 1.5em;
}
table td {
  border: 1px solid black;
  padding: 4px;
  font-size: 1.5em;
  text-align: center;
}
header {
  background-color: rgb(140, 203, 214);
  padding-top: 20px;
  padding-bottom: 30px;
  text-align: center;
}
header h1 {
  font-weight: 400;
  font-family: monospace;
}
body {
  margin: 0;
  padding: 0;
  background-color: rgb(224, 231, 238);
}
section {
  padding-top: 15px;
  padding-bottom: 25px;
  justify-content: space-evenly;
}
section h2 {
  margin-left: 30px;
}
section input {
  margin-left: 25px;
  font-size: 20px;
}
section button {
  margin-left: 30px;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 5px;
}
#table {
  width: 90%;
  border: 1px solid black;
  margin: 50px auto;
}
#totalNumber {
  text-align: end;
  margin-right: 200px;
}
#totalNumber span {
  margin-left: 15px;
}
#tableBody tr:nth-child(even) {
  background-color: #f2f2f2;
}
#deleteBtn {
  margin-left: 30px;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 5px;
}
